/* Tyger (version 5)
 *
 * Created by Paul Mucur.
 * Inspired by Matthew Maber's "Spotlight" stylesheet.
 *
 * PEM 16 Feb 2005: Changed the h1 so that text can wrap now; cutting
 * the headline off was annoying and restrictive.
 *
 * PBS 31 Jan 2005: added "white-space: nowrap" to h1
 * because it could wrap.
 *
 */
 
body {
	background: #fff;
	margin: 0;
	padding: 0 0 10px;
	font: medium/1.5 "Lucida Grande", sans-serif;
	color: #000;
}
h1#nnw_title {
	padding: 7px 0 7px 15px;
	background: #969696 url(tiger.png) repeat-x;
	border-bottom: 1px solid #8C8C8C;
  font-weight: normal;
  text-shadow: #fff 0 1px 1px;
	font-size: medium;
}
h1#nnw_title a {
	text-decoration: none;
	color: #000;
}
div#nnw_description {
	padding: 0 15px;
}
div#nnw_description p img.right {
	float: right;
	margin: 0 0 5px 5px;
}
p#nnw_info {
	border-bottom: 1px solid #ddd;
	margin: 0 15px 5px;
	padding: 5px 0;
}
p#nnw_info span {
	display: block;
	margin-bottom: 2px;
}
p#nnw_info span:before {
	font-weight: bold;
	color: #777;
  display: inline-block;
  width: 50px;
  text-align: right;
  padding-right: 0.5em;
}
p#nnw_info span.newsItemDate:before {
	content: "Date: ";
}
p#nnw_info span.newsItemCreator:before {
	content: "By: ";
}
p#nnw_info span.newsItemCommentsLink:before {
	content: "Comments: ";
}
p#nnw_info span.newsItemSource:before {
	content: "From: ";
}
p#nnw_info span.newsItemSubject:before {
	content: "Subject: ";
}
div#nnw_extra p {
	padding: 10px 20px;
}
blockquote {
	background: #eee;
	padding: 5px 30px;
	border-left: 1px solid #bbb;
	margin: 0;
}

